
<%if @user_type == 'Admin'%>
<%= link_to "Add Shows", theatres_path%>

<%elsif @user_type == 'Normal'%>
<%= link_to 'Book Show', movies_path%>
<h1>This Is User Home</h1>

<table>
  <thead>
    <tr>
      <th>Movie Name</th>
      <th>Theatre</th>
      <th>Seats</th>
      <th>Total fee</th>
      <th>Seat count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @bookings.each do |booking|%>
<%if booking.user_id == current_user.id%>
<h1>My Bookings</h1>
      <tr>
        <td><%= Movie.find(booking.movie_id).name %></td>
        <td><%= Theatre.find((booking.movie_id)).name %></td>
        <td><%= booking.seat_count %></td>
        <td><%= booking.total_fee %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>




<%= %>

<%= link_to 'Book A Show', movies_path%>
<%end%>